/* navbar dropdown */
.dropdown-item {
    white-space: normal; 
    text-overflow: ellipsis; 
}
.dropdown-menu {
    max-width: 300px; 
}

/* hero slider */
.carousel-caption h5 {
    color: #ffce2b;
    margin-bottom: 20px;
}
.carousel-caption p {
    margin-bottom: 30px;
}
.btn-primary {
    background-color: #D40C0C;
    border-color: #D40C0C;
}
.btn-primary:hover {
    background-color: #8c0808;
    border-color: #8c0808;
}
.carousel-caption {
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 1.5rem;
        margin-bottom: 10px; 
    }
    .carousel-caption p {
        font-size: 1rem; 
        margin-bottom: 20px; 
    }
    .carousel-caption {
        margin-bottom: 50px; 
    }
}

/* Lembaga Sertifikasi */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.centered-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-box {
    width: 628px;
    height: 408.7px;
    background-color: #940808;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: #fff;
}

.icon img {
    width: 100px; 
    height: 100px; 
}

@media (max-width: 768px) {
    .content-box {
        width: 90%;
        padding: 10px; 
    }
    .icon img {
        width: 80px;
        height: 80px;
    }
}









